.details {
  display: grid;
  grid-row-gap: 13px;
  font-size: 14px;

  &__title {
    padding-bottom: 7px;
    border-bottom: 1px solid #CCCCCC;
    font-weight:600;
  }

  &__links {
    display: grid;
    grid-row-gap: 10px;

    & > * {
      cursor: pointer;
      text-decoration-line: underline;
    }
  }

  &__requirements {
    display: grid;
    grid-row-gap: 10px;
  }
}